<%= stylesheet_link_tag 'style' %>
<div class="media-container">
<div> <%=link_to 'Movies','home/movies' %> </div>
<div><%=link_to 'Books','home/books' %></div>
<div><%=link_to 'Games','home/games' %></div>
</div>